STAC_URL=""             # URL del servidor del STAC
ABS_STRING=""           # Cadena de conexión a Azure Blob Storage
ABS_CONTAINER=""        # Nombre del contenedor en Azure Blob Storage
AUTH_URL=""             # Path de la ruta de la url para autenticar, la cual seria "/auth/token"
USERNAME_AUTH:""        # Nombre de usuario para autenticación.
PASSWORD_AUTH:""        # Contraseña para autenticación.
MAIN_FILE=""            # Path to the main script file
DOCS_DIR=""             # Directory for generated documentation before publishing