# Almacenamiento "azure" o "aws"
STORAGE_BACKEND="azure"

#Credenciales y enlace a STAC
STAC_URL=""

AUTH_URL=""
USERNAME_AUTH=""
PASSWORD_AUTH=""

# --- Azure Blob Storage (STORAGE_BACKEND=azure) ---
ABS_STRING=""
ABS_CONTAINER=""
ASSET_BASE_URL=""

# --- AWS S3 (STORAGE_BACKEND=aws) ---
S3_BUCKET=""
S3_REGION="us-east-1"
AWS_ENDPOINT_URL=""
S3_PUBLIC_URL_BASE=""

# Credenciales AWS 
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_SESSION_TOKEN=""
